*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color:black ;
}

h1{
    color: rgb(241, 60, 121);
    text-align: center;
    font-size: 110px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    text-align: center;
    margin-left: 40px;
}

button{
    height: 38px;
    width: 100px;
    position: absolute;
  bottom: 35px;
  border: 4px solid rgb(241, 60, 121);
  border-radius: 10px;
}

.button{
    left: 35px;
}
.catsButton{
    left: 195px;
}
.h-P-Button{
    left: 353px;
}

.memory-game{
    width: 840px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card{
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgb(14, 13, 13);
}

.memory-card:active {
transform: scale(0.97);
transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: absolute;
    border-radius: 5px;
    background-color: aqua;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

